<section class="video-principal">
  <div class="video">
      <img class="hombre-luna" src="../assets/auroraboreal.jpg"/>
  </div>
  <div class="definicion">
      <h1 class="titulo-video">Aurora Boreal</h1>
      <span class="video-caracteristicas">
          <li class="caract-principales">
              <i class="fa-solid fa-eye"></i>
              <label class="caract-principales-label">2.117.234</label>
          </li>
          <li class="caract-principales">
              <i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
              <label>1 month ago</label>
          </li>
          <li class="caract-principales like">
              <i class="fa-solid fa-thumbs-up"></i>
              <label>23.216</label>
          </li>
          <li class="caract-principales">
              <i class="fa-solid fa-thumbs-down"></i>
              <label>45</label>
          </li>
      </span>
      <p>Aurora polar es un fenómeno en forma de luminiscencia que se presenta en el cielo nocturno,
          generalmente en zonas polares, aunque puede aparecer en otras zonas del mundo durante breves períodos. </p>
  </div>
  <div class="lista">
      <ul>
          <li>
              <i class="fa-solid fa-circle-user user-lista"></i>
              <label><strong>1.13M</strong> Suscribers</label>
          </li>
          <li>
              <i class="fa-solid fa-video"></i>
              <label><strong>473</strong> Videos</label>
          </li>
          <li>
              <i class="fa-solid fa-eye"></i>
              <label><strong>1.5M</strong> Views</label>
          </li>
          <li>
              <i class="fa-solid fa-thumbs-up"></i>
              <label><strong>5M</strong> Likes</label>
          </li>
          <li>
              <i class="fa-solid fa-thumbs-down"></i>
              <label><strong>45</strong> Dislikes</label>
          </li>
      </ul>
  </div>
</section>

<section class="listaAlumnos">
  <div class="NoLoVieron">
    <div>
      <h1>Alumnos que no vieron este video</h1>
    </div>
    <div class="listaNoVistos">
      <div id="alumnos" *ngFor="let alumno of listaAlumnos">{{alumno}}</div>
    </div>
  </div>
  <div class="loVieron" *ngIf="visto">
    <div>
      <h1>Alumnos que ya vieron este video</h1>
    </div>
    <div class="listaVistos" >
      <div id="personas" *ngFor="let persona of listaVisualizados">{{persona}}</div>
    </div>
  </div>
</section>
<div class="addAlumno">
  <button (click)="AddAlumno()">Vi este video</button>
</div>
