.video-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #7d87a5;
  margin-top: 20vh;
}
.video {
  margin-left: 2vw;
}

.hombre-luna {
  height: 23vh;
  width: 22vw;
  border-radius: 20px;
}

.titulo-video {
  font-size: 25px;
  margin-bottom: 8px;
}

.video-caracteristicas {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  list-style: none;
}

.caract-principales {
  width: 22%;
}

.caract-principales-label {
  margin-left: 6px;
}

.definicion {
  width: 35%;
  margin-left: -2vw;
  margin-bottom: 5vh;
}

.lista {
  width: 23%;
  ul {
  list-style: none;
  }
}

.like {
  width: 17%;
}
.user-lista {
  font-size: 15px;
  padding: 0px;
}

.listaAlumnos {
  display: flex;
  h1 {
    font-size: 25px;
    color: #7d87a5;
    font-weight: 600;
    padding-left: 8vh;
    padding-top: 4vh;
  }
  .NoLoVieron {
    .listaNoVistos{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vh;
      height: 27vh;
      #alumnos {
        padding: 3px;
        font-size: 20px;
        font-weight: 500;
        color: #40475d;
      }
    }

  }
  .loVieron {
    .listaVistos{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vh;
      height: 27vh;
      #personas {
        padding: 3px;
        font-size: 20px;
        font-weight: 500;
        color: #40475d;
      }
    }

  }

}
.addAlumno {
  display: flex;
  justify-content: center;
  width: 50%;
  button {
    height: 35px;
    margin-left: 8vh;
    background: #3d4ed5;
    color: white;
  }
}
