<div class="content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table tabla">
    <!-- Position Column -->
    <ng-container matColumnDef="demo-position">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="demo-name">
      <th mat-header-cell *matHeaderCellDef> Nombre y apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="demo-weight">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="demo-symbol">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="demo-action">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <div class="buttons">  <button mat-raised-button color="primary">Modificar</button> <button mat-raised-button color="warn" (click)="borrar(element.name)">Borrar</button></div></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="accent" class="addAlumno"(click)="agregarAlumno()">Agregar</button>
</div>
<div class="formulario" *ngIf="clickAgregar">
  <form class="example-form" [formGroup]="formNuevoAlumno">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>DNI</mat-label>
      <input  type="text" matInput  [errorStateMatcher]="matcher" placeholder="39978629" formControlName="dni" [(ngModel)]="dni">
      <mat-error *ngIf="formNuevoAlumno.hasError('dni') && !formNuevoAlumno.hasError('required')">
        Ingresá un DNI válido.
      </mat-error>
      <mat-error *ngIf="formNuevoAlumno.hasError('required')">
        El DNI es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width input" appearance="outline">
      <mat-label>Nombre y apellido</mat-label>
      <input  type="text" matInput [formGroup]="formNuevoAlumno" [errorStateMatcher]="matcher" placeholder="Agustin Goñi" formControlName="nombre" [(ngModel)]="nombre">
      <mat-error *ngIf="formNuevoAlumno.hasError('nombre') && !formNuevoAlumno.hasError('required')">
        Ingresá tu nombre y apellido.
      </mat-error>
      <mat-error *ngIf="formNuevoAlumno.hasError('required')">
        El nombre y apellido es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width input" appearance="outline">
      <mat-label>Edad</mat-label>
      <input  type="text" matInput [formGroup]="formNuevoAlumno" [errorStateMatcher]="matcher" placeholder="25" formControlName="edad" [(ngModel)]="edad">
      <mat-error *ngIf="formNuevoAlumno.hasError('nombre') && !formNuevoAlumno.hasError('required')">
        Ingresá tu nombre y apellido.
      </mat-error>
      <mat-error *ngIf="formNuevoAlumno.hasError('required')">
        El nombre y apellido es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width input" appearance="outline">
      <mat-label>Email</mat-label>
      <input  type="email" matInput [formGroup]="formNuevoAlumno" [errorStateMatcher]="matcher" placeholder="agustin@gmail.com" formControlName="email" [(ngModel)]="email">
      <mat-error *ngIf="formNuevoAlumno.hasError('nombre') && !formNuevoAlumno.hasError('required')">
        Ingresá tu nombre y apellido.
      </mat-error>
      <mat-error *ngIf="formNuevoAlumno.hasError('required')">
        El nombre y apellido es<strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <button mat-raised-button type="submit" [disabled]="formNuevoAlumno.invalid" color="accent" class="addAlumno" (click)="guardarAlumno()">Guardar</button>
</div>
