<section class="sidebar">
  <aside>
      <ul class="navigation">
          <li>
              <div class="icon">
              <i class="fa-solid fa-house"></i>
              </div>
              <label>Home</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-sharp fa-solid fa-fire-flame-curved"></i>
              </div>
              <label>Trendings</label>
          </li>
          <li class="espacio">
              <div class="icon">
              <i class="fa-solid fa-credit-card"></i>
              </div>
              <label class="credit-card">Subscriptions</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-book"></i>
              </div>
              <label>Library</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
              </div>
              <label>History</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-video"></i>
              </div>
              <label>My Videos</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-clock"></i>
              </div>
              <label>Watch Later</label>
          </li>
      </ul>
      <!-- <ul class="channels">
          <h4>CHANNELS</h4>
          <li>
              <div class="icon">
              <i class="fa-solid fa-house"></i>
              </div>
              <label>Figma</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-sharp fa-solid fa-fire-flame-curved"></i>
              </div>
              <label>Sketch Together</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-credit-card"></i>
              </div>
              <label>Cut the Crap</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-book"></i>
              </div>
              <label>SciOne</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
              </div>
              <label>Vsauce</label>
          </li>
          <span class="showMore">SHOW 23 MORE</span>
      </ul>
      <ul class="more">
          <h4>MORE</h4>
          <li>
              <div class="icon">
              <i class="fa-solid fa-film"></i>
              </div>
              <label>Youtube Movies</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-gamepad"></i>
              </div>
              <label>Gaming</label>
          </li>
          <li>
              <div class="icon">
              <i class="fa-solid fa-satellite-dish"></i>
              </div>
              <label>Live</label>
          </li>
      </ul> -->
  </aside>
</section>
