<div id="body">
<form [formGroup]="formSignup" (submit)="iniciarSesion()" id="form">
  <div class="title">
    <h2>Inicia sesión o registrate</h2>
  </div>
  <section class="background">
    <div class="form">
      <label for="">Ingresá usuario o email</label>
      <input type="email" placeholder="Email" formControlName="email" [(ngModel)]="usuario">
      <div class="error">
        <small *ngIf="formSignup.get('email')?.errors?.['required'] && formSignup.get('email')?.touched">El campo es requerido</small>
      </div>
    </div>
    <div class="form">
      <label for="">Ingresá una contraseña</label>
      <input type="password" placeholder="Contraseña" formControlName="contraseña" [(ngModel)]="password" [class.err]="formSignup.invalid">
      <div class="error">
        <small *ngIf="formSignup.get('contraseña')?.errors?.['required'] && formSignup.get('contraseña')?.touched">La contraseña debe tener al menos 8 carácteres</small>
      </div>
    </div>
  </section>
  <footer>
    <button mat-raised-button color="primary" [disabled]="formSignup.invalid" (click)="iniciarSesion()">Iniciar sesión</button>
  </footer>
</form>
</div>
