section {
  .form {
    display: flex;
    flex-direction: column;
    label{
      font-size: 25px;
      padding: 15px;
    }
    input {
      width: 35%;
      height: 3vh;
      font-size: 15px;
      margin-left: 1vw;
      &.err {
        border: red;
      }
    }
  }
  .error {
    margin-left: 1vw;
    color: red;
  }
}

footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  width: 35%;
}
