#body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#form {
  height: 60%;
  background: #006200ba;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  border-radius: 35px;
  border: 5px solid;
}
  section {
    .form {
      display: flex;
      flex-direction: column;
      label{
        font-size: 25px;
        padding: 15px;
      }
      input {
        height: 4vh;
        font-size: 15px;
        border-radius: 10px;
        padding: 10px;
        &.err {
          border: red;
        }
      }
    }
    .error {
      margin-left: 1vw;
      color: red;
    }
  }

  footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    width: 35%;
  }
