
#body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #E4D9FF;
}
#form {
  background:#FAFAFF;;
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  border-radius: 35px;
  border: 2px solid #273469;
  h2 {
    color: #1E2749;
  }
}
  section {
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2vh;
      label{
        font-size: 20px;
        padding: 10px;
      }
      input {
        height: 2vh;
        font-size: 15px;
        border-radius: 10px;
        padding: 10px;
        border-color: #1E2749;
        width: 22vw;
        .err {
          border: red;
        }
      }
    }
    .error {
      margin-left: 1vw;
      color: red;
    }
  }

  footer {
    .mat-raised-button {
      background: #1E2749;
      width: 22vw;
      color: #FAFAFF;
      margin-bottom: 1.5vh;
      border-radius: 10px;
    }
    padding: 16px;
    display: flex;
    justify-content: center;
    width: 35%;
  }
